* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #f7f9fb;
}
.container {
  align-items: center;
  justify-content: center;
  text-align: center;
}
h3,
p {
  padding: 20px;
}
.btn {
  padding: 10px;
  border-radius: 8px;
  background-color: #3b5998;
  color: aliceblue;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  font-size: 0.85rem;
  border: 1px solid transparent;
}
.btn:hover {
  background-color: rgb(59, 89, 142);
  transition: 0.3s;
}
